@import '../../components/variables.css';

.root input {
  /* background: red; */
  width: 70%;
  border: 0;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--greyBg);
  padding: 0.5rem 1rem;
}

.root input:focus,
.root input:active {
  border: 0;
  outline: 0;
}

.container {
  /* max-width: var(--max-content-width); */
}
