@import '../variables.css';

:root {
  --metricsPanelWidth: 275px;
}

.root {
  color: #000;
  padding: 1rem;
  min-width: var(--metricsPanelWidth);
  max-width: var(--metricsPanelWidth);
  min-height: calc(100vh - 2rem);
  position: static;
}
