.content {
  width: 100%;
}

.stripItem {
  padding: 0 1rem;
  border-bottom: 1px solid lightgray;
  height: 70px;
  display: flex;
  box-sizing: border-box;
}

.stripItem:last-child {
  border-bottom: 0;
}
